* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
}

.container {
    width: 620px;
    margin: 220px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


/* CARD */

.card {
    background-color: hsl(217, 19%, 24%);
    border-radius: 15px;
    padding: 50px;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 10px;
}

.advice {
    color: hsl(150, 100%, 66%);
    letter-spacing: 0.25em;
    font-size: 15px;
}

.quote {
    font-size: 28px;
    color: hsl(0, 0%, 91%);
}

.separator {
    /* margin: auto; */
    display: grid;
    grid-template-columns: 20fr 1fr 1fr 20fr;
    gap: 10px;
    align-items: center;
}


hr {
    height: 1px;
}

.white {
    width: 8px;
    /* Adjust the width as needed */
    height: 20px;
    /* Adjust the height as needed */
    background-color: hsl(0, 0%, 91%);
    border-radius: 10px;
    /* Adjust the border-radius to control the roundness */
}

.line {
    width: auto;
    /* Adjust the width as needed */
    height: 1px;
    /* Adjust the height as needed */
    background-color: hsl(0, 0%, 61%);
    border-radius: 10px;
}

.dice-bg i {
    color: #000;
    font-size: 23px;
}

.dice-bg {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
}

.dice {
    margin: auto;
    position: relative;
    bottom: -80px;
}



@media(max-width: 430px) {

    .container {
        width: 90%;
        margin: 70px auto;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    .card {
        background-color: hsl(217, 19%, 24%);
        border-radius: 15px;
        padding: 30px;
    }

    .dice {
        margin: auto;
        position: relative;
        bottom: -60px;
    }

}